# URL for the jsreport service
JSREPORT_URL=

# Username for jsreport authentication
JSREPORT_USER=

# Password for jsreport authentication
JSREPORT_PASS=

# Application port
PORT=3000

# Static token for secure API usage
STATIC_TOKEN=

# Database connection string
DATABASE_URL=
